* {
    font-family: "Red Hat display";
}

body {
    background-image: url("../../assets/images/background-desktop.svg");
    background-color: $color-primary;
    background-repeat: no-repeat;
    background-size: 100% 400px;
    @include mobile-only {
        background-image: url("../../assets/images/background-mobile.svg");
        background-size: 100% 350px;
    }
    @include small-mobile {
        background-size: 100% 200px;
    }
}
