* {
    font-family: "Red Hat display";
}

body {
    background-image: url("/assets/images/pattern-background-desktop.svg");
    background-color: $color-primary;
    background-repeat: no-repeat;
    background-size: auto 437px;
}

